<script type="text/x-template" id="list_temp">
{% verbatim %}

<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <h1>{{ datarandom.title }}</h1>
        </div>
    </div>    
    <div class='row'>
        <div class='col-sm-12'>
            <span class="date">{{ datarandom.publication_date | date "%A, %B %e, %Y"  }}</span> | <span class="author">{{ datarandom.author  }}</span>
        </div>
    </div>
    
    <div class='row'>    
        <div class='col-sm-12'>
            <a v-link = "{ name: 'detail', params:{ postid:datarandom.id } }">
                <img style="height:50%;width:100%;border:1px solid black;" :src=datarandom.hero_image>
              </a>
        </div>
    </div>
    <div class='row'>    
        <div class='col-sm-9'>
            {{ datarandom.bodytext | truncate 1000 ' ...' }}
        </div>
    </div>
</div>


<div v-for="each in dataallpost" track-by="$index" class='container-fluid'>
    <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
            <h2 class="title">{{ each.title }}</h2>
        </div>
    </div>
   
    <div class='row'>
        <div class='col-sm-2'>
                <div style="margin-top:10%;margin-left:50%;height:70px;width:70px;border:2px solid;border-radius: 50%;text-align:center;font-size:30px" >
                <div style="padding-top:10px">{{$index+1}}</div>
                </div>
                
        </div>
        <div class='col-sm-8'>
            <div>{{ each.bodytext | truncate 250 '...'}}</div>
            <div><a v-link = "{ name: 'detail', params:{ postid:each.id }}">View</a> </div>
        </div>

    </div>
    
</div>
       
      
  


  {% endverbatim %}
  </script>
