h1 {
    color: #262626;
}
.container-fluid {
    margin: 20px;
}
.author {
    color:#00BFFF;
}
.date {
    color:#777777;
}
img {
    margin-top: 5px;
    margin-bottom: 10px;
    
}

/*#navigation{


}*/

.nav {
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    width: 100%;
    background-color: white;
    height: 790px; 
    border:1px solid #777777;

}

.floating-box {
    display: inline-block;
    width: 100%;
    height: 20%;
    margin-top: 20px;
    border: 0 ; 
    
}












