{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Vue Demo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel= "stylesheet" href='{% static "css/style.css" %} '>
    </head>
<body>
    
    <div class="container-fluid">
        <!-- <div  id="App" v-cloak> -->
                <div class="row">
                        <div id="navigation" class='col-sm-2' style='margin-top:3%'>
                            <navigation></navigation>
                        </div>
                         <div id="App" class='col-sm-10' v-cloak>
                            <router-view></router-view>
                        </div>
                </div>
                <div class="row">
                    <div id = "readnext" class='col-sm-10 col-sm-offset-2' >
                        <readnext  :datarandomfour='readNext' :dataallpost='allPost' :datarandom='randomPost'>
                        </readnext>
                    
                    </div>
                </div>
         
        <!-- </div> -->
        
    </div>
    
    
   
   
    
     
{% include "vue/partials/vue_navigation.html" %} 
{% include "vue/partials/vue_readnext.html" %}
{% include "vue/partials/vue_detail.html" %}
{% include "vue/partials/vue_list.html" %}


    <!-- Latest compiled and minified JavaScript -->
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src='{% static "javascript/vue.js" %}'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.10/vue-router.js"></script>
<script type="text/javascript" src='{% static "javascript/vue_engine.js" %}'></script>
<script type="text/javascript" src='{% static "javascript/vue-filter.js" %}'></script>


</body>
</html>