{% extends "base.html" %}

{% block content %}
   

<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <h1>{{ title }}</h1>
        </div>
    </div>    
    <div class='row'>
        <div class='col-sm-12'>
            <span class="date">{{ detail.publication_date|date:"l, F jS, Y"  }}</span> | <span class="author">{{ detail.author  }}</span>
        </div>
    </div>
    <div class='row'>    
        <div class='col-sm-12'>
            {% if detail.hero_image %}
                 <img style="height:55%;width:100%" src="{{ detail.hero_image.url }}">
            {%else%}
                <img style="height:55%;width:100%" src="#" alt="{{detail.title}}">
            {% endif %}

        </div>
    </div>
    <div class='row'>    
        <div class='col-sm-8'>
            <div>{{ detail.bodytext|linebreaks }}</div>
        </div>
        <div class='col-sm-4'>
            {% if detail.optional_image %}
                 <img style="height:45%;width:100%" src="{{ detail.optional_image.url }}">
            {%else%}
                <img style="height:45%;width:100%" src="#" alt="{{detail.title}}">
            {% endif %}
            
        </div>
    </div>
</div>
        
{%endblock content %}